:root{
--bg: #000;

--sec-color: #1d2226;

--blue-color: #2168db;

--btn-color: #27282a;

--border-color:#383d40;

--font-color: #FFF;

--input-color: #38434f;

--footer-bg: #141414;

--job-title: #70b5f9;

--small-span:hsla(0,0%,100%,0.6);

--active-job: #173756;
}
