@import 'https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap';
* {
  font-family: "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
}

.loading-page {
  display: none;
}

.load-body {
  background-color: var(--bg);
}
.load-body div.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 1000000;
}
.load-body div.loading-page .loader {
  width: 150px;
  height: 3px;
  background-color: var(--border-color);
  margin-left: 15px;
}
.load-body div.loading-page .loader-move {
  width: 30%;
  height: 100%;
  background-color: var(--blue-color);
  animation: horizontal_loader 0.8s linear infinite alternate;
}
.load-body div.loading-page img {
  height: 100px;
}
.load-body > * {
  display: none;
}

@keyframes horizontal_loader {
  from {
    transform: translateX(105px);
  }
  to {
    transform: translateX(0);
  }
}
.blur-body {
  position: relative;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--sec-color);
  border: 1px solid var(--border-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #6c757d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #41464b;
}

li {
  cursor: pointer;
}

section.nav-sec-active {
  background-color: var(--sec-color);
  border-bottom: 1px solid var(--border-color);
}
section.nav-sec-active nav ul.col-5 li a {
  color: var(--font-color);
}
section.nav-sec-active nav i.fa-solid {
  font-size: 22px;
  color: var(--font-color);
  cursor: pointer;
}

nav {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  height: 60px;
  text-align: center;
}
nav ul.col-5 {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav i.fa-solid {
  font-size: 22px;
  color: #FFF;
  cursor: pointer;
}
nav li {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  cursor: pointer;
  margin-right: 40px;
}
nav li:hover {
  border-bottom: 2.8px solid var(--blue-color);
}
nav li.active:hover {
  border-bottom: none;
}
nav ul.col-5 li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #FFF;
}
nav ul.col-5 li.active a {
  border-bottom: 2.8px solid var(--blue-color);
}
nav div.col-2 {
  justify-content: center;
}
nav div.col-2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav div.col-2 > i:hover, nav a.bookmark i:hover {
  color: var(--blue-color);
}
nav i#theme-ico {
  text-align: end;
}
nav i.fa-bars {
  display: none;
}

div.mobile-list {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--sec-color);
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1000;
}
div.mobile-list i.fa-solid {
  align-self: flex-end;
  color: #FFF;
}
div.mobile-list ul {
  padding: 0;
  width: 100%;
  height: 85%;
}
div.mobile-list ul li {
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}
div.mobile-list ul li a {
  color: var(--font-color);
}
div.mobile-list ul li i {
  font-size: 18px;
  text-align: end;
}
div.mobile-list img {
  align-self: flex-start;
  height: 40px;
}
div.mobile-list i.fa-solid {
  color: var(--font-color);
  cursor: pointer;
}

.mobile-list-display {
  animation: mobile-list-display 0.5s ease-in-out forwards;
}

.mobile-list-hide {
  animation: mobile-list-hide 0.5s ease-in-out forwards;
}

.blur-div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: #000;
  opacity: 0.7;
}

@keyframes mobile-list-display {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes mobile-list-hide {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
@media (max-width: 991px) {
  nav img {
    height: 50px;
  }
  nav div a.bookmark {
    display: none;
  }
  nav ul.col-5 {
    display: none;
  }
  nav i.fa-bars {
    display: block;
  }
}/*# sourceMappingURL=navbar.css.map */